# The name of your resource group
export IFR_PREFIX="infura-rg-13"

# The location of your cluster
export IFR_LOCATION="eastus"

# Storage account name, must be only lowercase letters and numbers
export IFR_STORAGE_ACC_NAME="infurarg13"

# Networking
## Check the documentation to learn about the assumptions used
export IFR_NETWORK_VNET_CIDR="10.0.0.0/16"

# Kubernetes
export IFR_NETWORK_ETCD_CIDR="10.0.0.0/24"
export IFR_NETWORK_MASTER_CIDR="10.0.1.0/24"
export IFR_NETWORK_WORKER_CIDR="10.0.2.0/24"
# Kubernetes Virtual
export IFR_NETWORK_SERVICES_CIDR="10.0.3.0/24"
export IFR_NETWORK_PODS_CIDR="10.0.4.0/24"

## Private IP Addresses
export IFR_NETWORK_ETCD_PRIV_IP_00="10.0.0.4"
export IFR_NETWORK_MASTER_PRIV_IP_00="10.0.1.4"
export IFR_NETWORK_K8S_SERVICE_IP="10.0.3.1"
export IFR_NETWORK_DNS_SERVICE_IP="10.0.3.10"
export IFR_NETWORK_WORKER_PRIV_IP_00="10.0.2.4"

# The location of your ssh public keys
## You need to generate your own with `ssh-keygen -t rsa -b 4096`
CURRENT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export IFR_ETCD_SSH_PUB_FILEPATH=$CURRENT_DIR/secrets/etcd_rsa.pub
export IFR_MASTER_SSH_PUB_FILEPATH=$CURRENT_DIR/secrets/master_rsa.pub
export IFR_WORKER_SSH_PUB_FILEPATH=$CURRENT_DIR/secrets/worker_rsa.pub

# The location of the etcd, master and worker templates
export IFR_ETCD_TEMPLATE=$CURRENT_DIR/templates/etcd.yaml
export IFR_ETCD_TEMPLATE_RENDERED=$CURRENT_DIR/secrets/etcd.yaml.rendered
export IFR_MASTER_TEMPLATE=$CURRENT_DIR/templates/master.yaml
export IFR_MASTER_TEMPLATE_RENDERED=$CURRENT_DIR/secrets/master.yaml.rendered
export IFR_WORKER_TEMPLATE=$CURRENT_DIR/templates/worker.yaml
export IFR_WORKER_TEMPLATE_RENDERED=$CURRENT_DIR/secrets/worker.yaml.rendered
export IFR_DNS_TEMPLATE=$CURRENT_DIR/templates/dns.yaml
export IFR_DNS_TEMPLATE_RENDERED=$CURRENT_DIR/secrets/dns.yaml.rendered

# Setup kubectl parameters
export IFR_MASTER_FQDN_00=${IFR_PREFIX}-master-00.${IFR_LOCATION}.cloudapp.azure.com
export IFR_CA_CERT=$CURRENT_DIR/secrets/ca.pem
export IFR_ADMIN_KEY_CERT=$CURRENT_DIR/secrets/admin-key.pem
export IFR_ADMIN_CERT=$CURRENT_DIR/secrets/admin.pem
